.img-container {
    display: inline-block;
    position: relative;
  }
  
  .hover-image {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
  }
  
  .img-container:hover .hover-image {
    display: block;
  }
  